# SF Salaries Exercise - Solutions

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [6]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [8]:
sal = pd.read_csv("C:\\Users\\adity\\Downloads\\archive (7)\\Salaries.csv")

C:\Users\adity\AppData\Local\Temp\ipykernel_40440\1450127151.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal = pd.read_csv("C:\\Users\\adity\\Downloads\\archive (7)\\Salaries.csv")

** Check the head of the DataFrame. **

In [9]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [10]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [14]:
sal['BasePay'] = pd.to_numeric(sal['BasePay'], errors='coerce')
average_basepay = sal['BasePay'].mean()
print(average_basepay)

66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [24]:
sal['OvertimePay'] = pd.to_numeric(sal['OvertimePay'], errors='coerce')
max_OvertimePay= sal['OvertimePay'].max()
print(max_OvertimePay)

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [30]:
title= sal[sal['EmployeeName']==' JOSEPH DRISCOLL']['JobTitle']
if not title.empty:
    print(title.iloc[0])
else:
    print("No match found.")

No match found.

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [31]:
result = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']
if not result.empty:
    print(result.iloc[0])
else:
    print("No matching employee found.")

270324.91

** What is the name of highest paid person (including benefits)?**

In [35]:
max_paid= sal['TotalPayBenefits'].max()
highest_paid = sal[sal['TotalPayBenefits']==max_paid]
print(highest_paid['EmployeeName'].values[0])

NATHANIEL FORD

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [37]:
min_paid=sal['TotalPayBenefits'].min()
lowest_paid=sal[sal['TotalPayBenefits']==min_paid]
print(lowest_paid['EmployeeName'].values[0])

Joe Lopez

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [38]:
avg_pay=sal.groupby('Year')['BasePay'].mean()
print(avg_pay)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [40]:
sal['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [42]:
sal['JobTitle'].value_counts().head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [45]:
sal_2013=sal[sal['Year']==2013]
job_counts=sal_2013['JobTitle'].value_counts()
unique_job= (job_counts ==1).sum()
print(unique_job)

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [56]:
# Count how many job titles contain the word 'Chief' (case-insensitive)
chief_count = sal['JobTitle'].str.contains('Chief', case=False, na=False).sum()

print("Number of people with 'Chief' in job title:", chief_count)

Number of people with 'Chief' in job title: 627

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [54]:
sal['title_len']=sal['JobTitle'].apply(len)
correlation_df = sal[['title_len', 'TotalPayBenefits']].corr()

In [55]:
print(correlation_df)

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!