___
Mr. Yogesh P Murumkar (965708095)

www.youtube.com/yogeshmurumkar
___
# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [1]:
import pandas as pd

In [2]:
ecomm = pd.read_csv("C:\\Users\\adity\\Downloads\\Ecommerce Purchases")

**Check the head of the DataFrame.**

In [3]:
ecomm.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

** How many rows and columns are there? **

In [4]:
ecomm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

** What is the average Purchase Price? **

In [17]:
avg_price = ecomm['Purchase Price'].mean()
print(avg_price)

50.347302

** What were the highest and lowest purchase prices? **

In [14]:
max_price=ecomm['Purchase Price'].max()
print(max_price)

99.99

In [15]:
min_price = ecomm['Purchase Price'].min()
print(min_price)

0.0

** How many people have English 'en' as their Language of choice on the website? **

In [18]:
english_user = ecomm[ecomm['Language']=='en'].shape[0]
print(english_user)

1098

** How many people have the job title of "Lawyer" ? **

In [20]:
title = ecomm[ecomm['Job']=='Lawyer'].shape[0]
print(title)

30

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [23]:
am_count = ecomm[ecomm['AM or PM']=='AM'].shape[0]
pm_count = ecomm[ecomm['AM or PM']=='PM'].shape[0]

print("Purchases made during AM :",am_count)
print("Purchases made during PM :",pm_count)

Purchases made during AM : 4932
Purchases made during PM : 5068

** What are the 5 most common Job Titles? **

In [25]:
top_jobs = ecomm['Job'].value_counts().head(5)
print(top_jobs)

Job
Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: count, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [27]:
lot_price = ecomm[ecomm['Lot'] == '90 WT']['Purchase Price'].values
if len(lot_price) > 0:
    print( lot_price[0])
else:
    print("error")

75.1

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [28]:
email = ecomm[ecomm['Credit Card'] ==  4926535242672853]['Email'].values
if len(email)>0:
    print(email[0])
else:
    print('error')

bondellen@williams-garza.com

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [35]:
Express = ecomm[(ecomm['CC Provider']=='American Express') & (ecomm['Purchase Price']> 95)]
count= Express.shape[0]
print(count)

39

** Hard: How many people have a credit card that expires in 2025? **

In [37]:
exp_2025 = ecomm[ecomm['CC Exp Date'].str[-2:] == '25']
count_2025 = exp_2025.shape[0]
print(count_2025)

1033

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [39]:
top = ecomm['Email'].apply(lambda x:x.split('@')[1]).value_counts().head(5)
print(top)

Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64

# Great Job!